body {font-family: Arial, Helvetica, sans-serif;

background-color: maroon;
      border-radius: 5px;
}

header {background-color: red;
        color: white;
        text-align: center;
        padding: 70px;
        border-radius: 5px;
}

p {text-align: center;
        font-family: 'Bebas Neue', sans-serif;
font-size: 100px;}

h1 {font-size: 40px;
font-family: 'Young Serif', serif;
color: white;

}

h3 {text-align: center;
        font-size: 30px;
        font-family: 'Modern Antiqua', serif;}

nav {background-color: yellow;
        color: black;
        text-align: center;
    padding: 20px;
    border-radius: 5px;
}

nav a {color: black;
        text-decoration: none;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        margin: 0% 20px;
        padding: 10px;
        border: solid 2px;
        border-radius: 5px;
}

.cit {position: absolute;
        left: 40px;
        top: 25px;
}

.mmsu {position: absolute;
        right: 40px;
        top: 25px;
}

nav a:hover {background-color: maroon;
    color: black;
    padding: 5px;
    border-bottom: black;
    margin: 0% 20px;
    border: solid 2px;
    border-radius: 5px;
}

footer {background-color: red;
        color: white;
        text-align: center;
        padding: 20px;}

div {max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: yellow;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        }


section{
    background-color: yellow;
    padding: 20px;
    flex-direction: center;
    display: flex;
    
    border: 5px solid red;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
    
}
h2{
    text-align: center;
    color:black ;
    background-color: yellow;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Young Serif', serif;
    padding: 15px;
    text-transform: uppercase;

}
.table{
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
        
}

ol{
    border: solid red;
    padding: 20px;
    border-radius: 5px;
}
footer{
    text-align: center;
    border: 5px;
}








